{% include 'partials/header.html' %}
<br>
<h1>{{todo.title}}</h1>
<p>{{todo.text}}</p>
<br>
Created on {{todo.created_at}}
<br/><br/>
<a href="/todos"><< Go Back</a>
{% include 'partials/footer.html' %}
