{% include 'partials/header.html' %}
<ul>
    {% for todo in todos %}
    <li>
        <a href="/todos/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}<br/><br/>
        <button><a href="/todos/details/{{todo.id}}">DETAIL</a></button>
        <button><a href="/todos/update/{{todo.id}}">UPDATE</a></button>
        <button><a href="/todos/delete/{{todo.id}}">DELETE</a></button>
        <br/><br/>
    </li>
    {% endfor %}
</ul>
{% include 'partials/footer.html' %}
