{% include 'partials/header.html' %}
<form action="{% url 'update' todo.id %}" method="post">
    {% csrf_token %}

    <label for="title">Title</label><br/><br>
    <input type="text" name="title" id="title" value="{{todo.title}}"/>
    <br><br>
    <label for="text">Text</label><br/><br>
    <textarea name="text" id="text">{{todo.text}}</textarea>
    <br><br><br>
    <input type="submit" value="Update"/>
</form>
<br>
<a href="/todos"><< Go Back</a>
{% include 'partials/footer.html' %}
